<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Friendlist</title>
</head>
<body>
Friendlist
<div th:each="friend : ${friends}">
	<p th:text="${friend.name}">Name</p>
</div>
<hr />
<div>
<p>Add new friend</p>
<form action="#" th:action="@{/saveFriend}" th:object="${friend}" method="post">
	<table>
		<tr><td><input type="text" th:field="*{name}" /></td></tr>
		<tr><td><input type="submit" value="Submit" /></td></tr>
	</table>
</form>
</div>
</body>
</html>